.to-do-item {
    position: relative;
    cursor: pointer;
    margin: $size * 0.8 auto;
    @include flex(space-between, row);
    animation: dropdown;
    &__edit {
        width: $size * 1.2;
    }
    &__delete {
        width: $size * 1.2;
    }
    &__bar {
        width: 0%;
        height: 2px;
        background: $text-color;
        @include absoluteCenter("ver");
        transition: width 300ms ease;
        &.show {
            width: 100%;
        }
    }
    &.play {
        animation-duration: 300ms;
    }
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
