//Declare var

// ====== Color ============

$accent-color: #fdcb6e;
$text-color: #613f00;
$bg-color: #2d3436;

// ====== Break Point ============
$break-point: 768px;

// ====== Size ============

$size: 1.2rem;

// ====== Layer ============
$wood-layer: 1;
$stone-layer: 2;
$iron-layer: 3;
$gold-layer: 4;
$diamond-layer: 5;
$obsidian-layer: 6;
$bedrock-layer: 7;
